*{
	padding: 0px;
	margin: 0px;
}
header{
	background-color: #415e9b;
	height: 82px;
	border-bottom: 1px solid #133783;
}
.header-block{
	width: 992px;
	margin: auto;
}
.header-logo{
	width:50%;
	float;left;
} 
.login{
	width: 50%;
	float: left;
}